.font-editor {
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll;
  padding-bottom:0;
  .dragText {
    margin-bottom: 30px;
  }
  .editable-text {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    z-index:1;
  }
}
