.font-editor {
  width: 100%;
  .pell-actionbar-custom-name {
    display: flex;
    .pell-button-custom-name {
      min-width: 30px;
      margin: 5px;
    }
  }
  .pell-content-custom-name {
    width: 100%;
    bottom: 0px;
    height: 200px;
    overflow: scroll;
    cursor: text;
  }
}
