.font-editor {
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll;
  .dragText {
    margin-bottom: 30px;
  }
  .editable-text{
    min-height:100px;
  }
}
